Language: Cpp
Standard: Cpp11
BasedOnStyle: LLVM
PointerAlignment: Left
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Allman
AlwaysBreakTemplateDeclarations: true
FixNamespaceComments: false
ColumnLimit: 125
Cpp11BracedListStyle: true
SortIncludes: false
AccessModifierOffset: -4
NamespaceIndentation: All
IndentCaseLabels: true
IndentWidth: 4
UseTab: Never
