[submodule "cryptopp"]
	path = third_party/cryptopp
	url = https://github.com/weidai11/cryptopp.git
[submodule "gsl"]
	path = third_party/gsl
	url = https://github.com/Microsoft/GSL.git
[submodule "googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
